@import "../styles/global";

.projects-page {
  &__title {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;

    @media (min-width: 800px) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    @media (min-width: 1200px) {
      gap: 2rem;
    }
  }
}

.project-card {
  background-color: $primary-color;
  color: $text-color;
  border-radius: 10px;

  &__picture {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;

    @media (min-width: 1200px) {
      margin-bottom: 1rem;
    }

    &:empty {
      background: #dcdcdc url("/public/icons/placeholder-image.svg") no-repeat
        center/30%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  &__content {
    padding: 0.5rem 1rem 1.5rem;
    @media (min-width: 1200px) {
      padding: 0.5rem 1.5rem 2rem;
    }
  }

  &__title {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #dcdcdc;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;

    &__tag {
      display: inline-block;
      padding: 0.1rem 0.5rem;
      font-size: 0.75rem;
      background-color: $secondary-color;
      color: $text-color;
      text-transform: lowercase;
      border-radius: 50px;
      border: 1px solid $text-color;

      @media (min-width: 800px) {
        padding: 0.2rem 0.7rem;
        font-size: 0.8rem;
      }
    }
  }

  &__links {
    margin-top: 1rem;

    &__link {
      margin-right: 1rem;
      font-size: 1rem;
      color: $text-color;
      background-image: linear-gradient(
        120deg,
        $highlight-color 100%,
        $highlight-color 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      text-decoration: none;
      transition: background-size 0.3s ease;

      &:hover {
        background-size: 100% 1.4em;
      }

      &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
        background-image: none;
      }

      @media (min-width: 800px) {
        font-size: 1.2rem;
      }
    }
  }
}
